<template>
    <div class="container" v-if="first && second">
        <div class="overlap">
            <!--BARS-->
            <div class="first-bar" v-bind:style="{'width': first_bar_width+'px', 'left': first_bar_left+'px'}"></div>
            <div class="second-bar" v-bind:style="{'width': second_bar_width+'px', 'left': second_bar_left+'px'}"></div>

            <!--OVERLAP BORDERs-->
            <div class="start-border" v-bind:style="{'left': overlap_start_border_left+'px'}"></div>
            <div class="end-border" v-bind:style="{'left': overlap_end_border_left+'px'}"></div>
        </div>
        <div class="legend">
            <!--INFORMATION/LEGEND-->
            <div class="legend_first">
                <div class="first_legend_box"></div>
                {{first.name}}
            </div>
            <div class="legend_second">
                <div class="second_legend_box"></div>
                {{second.name}}
            </div>
        </div>
    </div>

</template>

<script>

export default {
    name: "reciprocal_overlap",
    props: ["coordinates"],
    data() {
        return {
            first: null,
            second: null,
            minValue: null,
            maxValue: null
        }
    },
    watch: {
        coordinates: {
            handler() {
                this.parseCoordinates()
            }, deep: true
        }
    },
    computed: {
        first_bar_left() {
            return this.scaleTo(this.first.start, this.minValue, this.maxValue)
        },
        second_bar_left() {
            return this.scaleTo(this.second.start, this.minValue, this.maxValue)
        },
        first_bar_width() {
            let scaled_first_start = this.scaleTo(this.first.start, this.minValue, this.maxValue)
            let scaled_first_end = this.scaleTo(this.first.end, this.minValue, this.maxValue)
            return scaled_first_end - scaled_first_start
        },
        second_bar_width() {
            let scaled_second_start = this.scaleTo(this.second.start, this.minValue, this.maxValue)
            let scaled_second_end = this.scaleTo(this.second.end, this.minValue, this.maxValue)
            return scaled_second_end - scaled_second_start
        },
        overlap_start_border_left() {
            let second_min = [this.first.start, this.first.end, this.second.start, this.second.end]
                .sort(function (a, b) {
                    return b - a
                })
                .reverse()[1];
            return this.scaleTo(second_min, this.minValue, this.maxValue)
        },
        overlap_end_border_left() {
            let second_max = [this.first.start, this.first.end, this.second.start, this.second.end]
                .sort(function (a, b) {
                    return b - a
                })[1];
            return this.scaleTo(second_max, this.minValue, this.maxValue)
        }
    },
    methods: {
        scaleTo(val, minValue, maxValue, scale_to=200) {
            // scale min and max to 0 and scale_to (ex. 200) also return the value of interest in this scale
            if (maxValue - minValue === 0) {
                return scale_to
            } else {
                return ((val - minValue) / (maxValue - minValue)) * scale_to
            }
        },
        checkCoordinates() {
            /* coordinates
                {
                    "first": {
                        "name": "Target",
                        "start": 32142,
                        "end": 32445
                    },
                    "second": {
                        "name": "Source",
                        "start": 32202,
                        "end": 32605
                    }
                }
             */
            if (!(this.coordinates.first && this.coordinates.second)) {
                alert("Keys 'first' and 'second' are required in coordinates.\n"+JSON.stringify(this.coordinates))
            }
            else if (!(this.coordinates.first.start && this.coordinates.first.end)) {
                alert("Keys 'start' and 'end' are required in coordinates.\n"+JSON.stringify(this.coordinates))
            }
            else if (!(this.coordinates.second.start && this.coordinates.second.end)) {
                alert("Keys 'start' and 'end' are required in coordinates.\n"+JSON.stringify(this.coordinates))
            }
        },
        parseCoordinates() {
            this.checkCoordinates()
            this.first = this.coordinates.first
            this.second = this.coordinates.second
            this.minValue = Math.min(...[this.first.start, this.first.end, this.second.start, this.second.end])
            this.maxValue = Math.max(...[this.first.start, this.first.end, this.second.start, this.second.end])
        }
    },
    mounted() {
        this.parseCoordinates()
    }
}
</script>

<style scoped>

.container {
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    gap: 1em;
}

.overlap {
    text-align: left;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 13px;
    box-sizing: border-box;
    display: inline-table;
    height: 14px;
    position: relative;
    width: 200px;
    max-width: 200px;
}

.first-bar {
    text-align: left;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 13px;
    box-sizing: border-box;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    display: flex;
    top: 3px;
    background-color: tomato;
    left: 0;
}

.second-bar {
    text-align: left;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 13px;
    box-sizing: border-box;
    height: 3px;
    border-radius: 2px;
    position: absolute;
    display: flex;
    top: 9px;
    background-color: steelblue;
}

.start-border, .end-border {
    text-align: left;
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
    line-height: 13px;
    box-sizing: border-box;
    position: absolute !important;
    height: 14px;
    border-left: 1px dashed black;
}

.legend {
    height: fit-content;
}

.legend_first, .legend_second{
    display: flex;
    justify-content: left;
    align-items: center;
    line-height: 1em;
    font-size: 1em;
    gap: 0.5em;
    padding-bottom: 0.25em;
}

.first_legend_box{
    background-color: tomato;
    width: 0.75em;
    height: 0.75em;
}

.second_legend_box{
    background-color: steelblue;
    width: 0.75em;
    height: 0.75em;
}

</style>